[submodule "c_uart_interface_example"]
	path = c_uart_interface_example
	url = https://github.com/mavlink/c_uart_interface_example
[submodule "CommProtocol"]
	path = CommProtocol
	url = https://github.com/NGCP/CommProtocol
[submodule "CommProto-MessageStandards2017"]
	path = CommProto-MessageStandards2017
	url = https://github.com/NGCP/CommProto-MessageStandards2017
