[submodule "mavlink/include/mavlink/v1.0"]
	path = mavlink/include/mavlink/v1.0
	url = git://github.com/mavlink/c_library.git
[submodule "CommProtocol"]
	path = CommProtocol
	url = https://github.com/NGCP/CommProtocol
[submodule "CommProto-MessageStandards2017"]
	path = CommProto-MessageStandards2017
	url = https://github.com/NGCP/CommProto-MessageStandards2017
